@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 
 * {
    margin: 0;
    padding: 0;
} 

html {
    scroll-behavior: smooth;
    width: 100%;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
   
}

main {
    max-width: 100%;

}

.richtpunt {
    position: relative;
    top: -55px;
}


@media (max-width: 4000px) {
    .custom-shape-divider-bottom-1643722922 svg {
        width: calc(132% + 1.3px);
        height: 127px;
    }
}

.custom-shape-divider-bottom-1643734861 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1643734861 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1643734861 .shape-fill {
    fill: #186AA5;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1643734861 svg {
        width: calc(132% + 1.3px);
        height: 126px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1643734861 svg {
        width: calc(144% + 1.3px);
        height: 126px;
    }
}

/* Nav */

nav {
    background: white;
    padding: 15px 20px;
    top: 0;
    z-index: 9;
  }

  ul {
    list-style-type: none;
  }

  a {
    color: #186AA5;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
  }

  a:hover {
    text-decoration: underline;
  }

  .menu li {
    font-size: 16px;
    padding: 15px 5px;
  }

  .menu li a {
      display: block;
      
  }

  .logo a {
    font-size: 28px;
  }

  .button.secondary {
    border-bottom: 1px #444 solid;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .toggle {
      order: 1;
  }

  .item.button {
      order: 2;
  }

  .item {
      width: 100%;
      text-align: center;
      order: 3;
      display: none;
  }

  .item.active {
      display: block;
  }

  .toggle {
    cursor: pointer;

  }

  .bars {
      background: #186AA5;
      display: inline-block;
      height: 2px;
      position: relative;
      width: 18px;
  }

  .bars::before, .bars::after {
    background:#186AA5;
    display: inline-block;
    content: "";
    height: 2px;
    position: absolute;
    width: 18px;
  }

  .bars::before {
      top: 6px;
  }

  .bars::after {
    top: -6px;
}

.fixed {
    position: sticky;
    z-index: 20;
}

@Media all and (min-width: 468px){

    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }

    .toggle {
        order: 2;
    }
    
}

@media all and (min-width: 768px) {

    .item {
        display: block;
        width: auto;
    }

    .toggle {
        display: none;
    }

    .logo {
        order: 0;
    }

    .item {
        order: 1;
    }

    .menu li{
        padding: 15px 20px;
    }

    #Info .title {
        display: flex;
        justify-content: center;
        
    }

    #Info .CT {
        text-align: center;
        justify-content: center;
        padding: 40px;
    }
}

@media all and (max-width: 768px) {
    #Info .CT {
        text-align: center;
        justify-content: center;
        padding: 10px;
    }

    #Info .title {
        display: flex;
        justify-content: center;
    }
}

/* Nav Einde */


/* Header */ 

#Connect header h2 {
    color: #186AA5;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 36px;
}

#Connect header h4 {
    color: #186AA5;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
    margin-top: 15px;
}

#Connect header {
    margin-top: 60px;
}

#Connect {
    height: 600px;
}

#Connect .DP {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 3px;
    color: white;
}

#Download {
    height: 500px;
}

#Download .INTV {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    color: white;
}

#HWDA {
    height: 700px;
}

#HWDA .WJD {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    color: #186AA5;
}

#Team {
    height: 900px;
}

#Team .BehindTS {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    color: #186AA5;
}

#Info {
    height: 1200px;
}

#Info img {
    display: flex;
    justify-content: center;
}

#Info .CT {
    font-size: 15px;
    display: flex;
    margin-top: 30px;
    align-items: center;
    color: #73A1C2;
    line-height: 20px;
}

#Info .CT1 {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #186AA5;
}

#Info .title {
    color: #186AA5;
    margin-top: 100px;
}

#Info .PT {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    align-items: center;
    color: #186AA5;
}

#Info .PT2 {
    color: #186AA5;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 40px;
}

#Contact {
    height: 600px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

/* Header Einde */


/* Sections */

section {
    padding-bottom: 20px;
    margin-bottom: 20px; 
}

section ol {
    margin-top: 20px;
}

section p {
    padding: 0px 0px;
}

/* Section Einde */


@media (max-width: 1200px){
    #Connect {
        height: 400px;
    }
}

@media (max-width: 450px){
    #Connect header h2 {
        font-size: 28px;
    }

    #Connect header h4 {
        font-size: 13px;
    }
}
    


@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

main {
    animation: transitionIn 0.7s;
}

.img-container {
    margin-top: -70px;
    display: flex;
    justify-content: center;
}

.img-container-2 {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-top: 100px;
}