@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 
 * {
    margin: 0;
    padding: 0;
} 

html {
    scroll-behavior: smooth;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(16deg, rgba(116, 116, 116,0.02) 0%, rgba(116, 116, 116,0.02) 25%,transparent 25%, transparent 96%,rgba(177, 177, 177,0.02) 96%, rgba(177, 177, 177,0.02) 100%),linear-gradient(236deg, rgba(148, 148, 148,0.02) 0%, rgba(148, 148, 148,0.02) 53%,transparent 53%, transparent 59%,rgba(56, 56, 56,0.02) 59%, rgba(56, 56, 56,0.02) 100%),linear-gradient(284deg, rgba(16, 16, 16,0.02) 0%, rgba(16, 16, 16,0.02) 46%,transparent 46%, transparent 71%,rgba(181, 181, 181,0.02) 71%, rgba(181, 181, 181,0.02) 100%),linear-gradient(316deg, rgba(197, 197, 197,0.02) 0%, rgba(197, 197, 197,0.02) 26%,transparent 26%, transparent 49%,rgba(58, 58, 58,0.02) 49%, rgba(58, 58, 58,0.02) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
}

main {
    max-width: 100%;

}

.richtpunt {
    position: relative;
    top: -55px;
}

/* Nav */

nav {
    background: white;
    padding: 15px 20px;
    top: 0;
    z-index: 9;
  }

  ul {
    list-style-type: none;
  }

  a {
    color: #186AA5;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
  }

  a:hover {
    text-decoration: underline;
  }

  .menu li {
    font-size: 16px;
    padding: 15px 5px;
  }

  .menu li a {
      display: block;
      
  }

  .logo a {
    font-size: 28px;
  }

  .button.secondary {
    border-bottom: 1px #444 solid;
  }
  
  /* Mobile menu */

  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .toggle {
      order: 1;
  }

  .item.button {
      order: 2;
  }

  .item {
      width: 100%;
      text-align: center;
      order: 3;
      display: none;
  }

  .item.active {
      display: block;
  }

  .toggle {
    cursor: pointer;

  }

  .bars {
      background: #186AA5;
      display: inline-block;
      height: 2px;
      position: relative;
      width: 18px;
  }

  .bars::before, .bars::after {
    background:#186AA5;
    display: inline-block;
    content: "";
    height: 2px;
    position: absolute;
    width: 18px;
  }

  .bars::before {
      top: 6px;
  }

  .bars::after {
    top: -6px;
}

.fixed {
    position: sticky;
    z-index: 20;
}

@Media all and (min-width: 468px){

    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }

    .item.button {
        width: auto;
        order: 1;
        display: block;
    }

    .toggle {
        order: 2;
    }
}

@media all and (min-width: 768px) {

    .item {
        display: block;
        width: auto;
    }

    .toggle {
        display: none;
    }

    .logo {
        order: 0;
    }

    .item {
        order: 1;
    }

    .menu li{
        padding: 15px 20px;
    }

    #Info .title {
        display: flex;
        justify-content: center;
        
    }

    #Info .CT {
        text-align: center;
        display: flex;
        justify-content: center;
        text-align: justify;
        padding: 40px;
    }
}

/* Nav Einde */


/* Header */ 

#Connect header h2 {
    color: #186AA5;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 36px;
}

#Connect header h4 {
    color: #186AA5;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
    margin-top: 15px;
}

#Connect header {
    margin-top: 120px;
}

#Connect {
    height: 900px;
}

#Connect .DP {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 3px;
    color: #186AA5;
}

#Download {
    height: 700px;
}

#Download .INTV {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    align-items: center;
    color: #186AA5;
}

#HWDA {
    height: 700px;
}

#HWDA .WJD {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    align-items: center;
    color: #186AA5;
}

#Team {
    height: 700px;
}

#Team .BehindTS {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    align-items: center;
    color: #186AA5;
}

#Info {
    height: 1500px;
}

#Info .CT {
    font-size: 15px;
    display: flex;
    margin-top: 30px;
    align-items: center;
    color: #73A1C2;
    line-height: 20px;
}

#Info .CT1 {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    align-items: center;
    color: #186AA5;
}

#Info .title {
    color: #186AA5;
    margin-top: 100px;
}

#Info .PT {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    align-items: center;
    color: #186AA5;
}

/* .img-info {
    display: flex;
    margin-right: auto;
    margin-top: -430px;
    margin-left: 700px;
} */


#Contact {
    height: 610px;
    display: flex;
    justify-content: center;
}

#Contact .CT {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    align-items: center;
    color: #186AA5;
}

/* Header Einde */


/* Sections */

section {
    background-image: linear-gradient(16deg, rgba(116, 116, 116,0.02) 0%, rgba(116, 116, 116,0.02) 25%,transparent 25%, transparent 96%,rgba(177, 177, 177,0.02) 96%, rgba(177, 177, 177,0.02) 100%),linear-gradient(236deg, rgba(148, 148, 148,0.02) 0%, rgba(148, 148, 148,0.02) 53%,transparent 53%, transparent 59%,rgba(56, 56, 56,0.02) 59%, rgba(56, 56, 56,0.02) 100%),linear-gradient(284deg, rgba(16, 16, 16,0.02) 0%, rgba(16, 16, 16,0.02) 46%,transparent 46%, transparent 71%,rgba(181, 181, 181,0.02) 71%, rgba(181, 181, 181,0.02) 100%),linear-gradient(316deg, rgba(197, 197, 197,0.02) 0%, rgba(197, 197, 197,0.02) 26%,transparent 26%, transparent 49%,rgba(58, 58, 58,0.02) 49%, rgba(58, 58, 58,0.02) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
    padding-bottom: 20px;
    margin-bottom: 20px; 
}

section ol {
    margin-top: 20px;
}

section p {
    padding: 0px 0px;
}

/* Section Einde */


/* Footer  */

footer {
    background-color: rgb(37, 37, 37);
    color: floralwhite;
    text-align: center;
    padding: 20px;
    height: 100px;
    width: 100%;
}

footer p {
    color: floralwhite;
    font-size: 16px;
    letter-spacing: 2px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Footer Einde */ 


/* Media Querry */

@media (max-width: 1000px) { 

    section ol li {
        font-size: 16px;
    }
}

@media (max-width: 700px) {

    #Contact {
        height: 900px;
    }
}

@media (max-width: 489px ) { 
    
    .Tekst p {
        font-size: 28px;
        margin: 20 auto;
        margin-top: 20px;
    }
}

@media (max-width: 486px) {

    .Tekst p{
        font-size: 20px;
        margin: 20 auto;
        
    }
}

@media (min-width: 700px) {
    section ol {
        margin: 20px 60px;
    }
}
/* Media Querry Einde */


.container{
    background: #fff;
    border-radius: 6px;
    font-family: "Poppins" , sans-serif;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 85%;
}

  .container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .container .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
  }
  .content .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .content .left-side .details i{
    font-size: 30px;
    color: #186AA5;
    margin-bottom: 10px;
  }
  .content .left-side .details .topic{
    font-size: 12px;
    font-weight: 500;
  }
  .content .left-side .details .text-one,
  .content .left-side .details .text-two{
    font-size: 14px;
    color: #afafb6;
  }
  .container .content .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .content .right-side .topic-text{
    font-size: 23px;
    padding-bottom: 15px;
    font-weight: 600;
    width: 100%;
    color: #186AA5;
  }
  .right-side .input-box{
    height: 50px;
    width: 90%;
    margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box{
    min-height: 110px;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
  }
  .right-side .button{
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button input[type="button"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #186AA5;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button input[type="button"]:hover{
    background: #186AA5;
  }
  
  @media (max-width: 950px) {
    .container{
      width: 90%;
      padding: 30px 40px 40px 35px ;    
    }
    .container .content .right-side{
     width: 75%;
     margin-left: 55px;
  }
}

  @media (max-width: 820px) {
    .container{
      margin: 40px 0;
      height: 100%;
    }

    .container .content{
      flex-direction: column-reverse;
    }

   .container .content .left-side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }

   .container .content .left-side::before{
     display: none;
   }

   .container .content .right-side{
     width: 100%;
     margin-left: 0;
   }
  }
  