@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');

body {
  margin: 0px;
  padding: 30px;
  font-family: 'Poppins' sans-serif;
  overflow: hidden;
  background: #89BEFA;
  padding-bottom: 200px;
}

canvas {
  box-shadow: 15px 15px black;
  cursor: pointer;
}

.tools {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 15px;
}

.title {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #f32170, #ffeb07, #2196f3, #ff00eb);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;  
  font-size: 45px;
  font-family: 'Comforter', cursive;
}

.tools .color-field {
  height: 40px;
  widows: 40px;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid white;
  align-self: center;
  margin: 0 10px;
}

.tools .button {
  align-self: center;
  width: 100px;
  height: 40px;
  border: 2px solid white;
  cursor: pointer;
  color: white;
  background: #222;
  font-weight: bold;
  margin: 10px 10px;
}

.color-picker {
  align-self: center;
  margin: 0 15px;
  height: 40px;
  width: 40px;
}

.pen-range {
  align-self: center;
  margin: 0 10px;
}