
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
    background: #89BEFA;  
  }

  a {
    text-decoration: none;
  }

  .nav {
    border-bottom-left-radius: 90%;
    margin-left: 320px;
    position: sticky;
    justify-content: right;
    position: absolute;
    background: orchid;
    width: 100px;
    height: 100px;
  }

/* == Knop ↻ == */

  /* .Knop {
    box-shadow: 4px 4px 4px grey;
    background: linear-gradient(95deg, #39C8F6, #4169EB, #3631D4);
    width: 170px;
    height: 35px;
    border-radius: 20px;
    position: fixed;
    bottom: 5%;
    right: 125px;
  }
  
  .Lower {
    position: absolute;
    bottom: 0px;
    height: 130px;
    width: 100%;
    left: 0;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
  } */

  /* == Einde Knop ↻ == */


  /* == Informatie == */

#Informatie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.Informatie-Heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Informatie-Heading span {
  color: white;
}

.Informatie-Heading h3 {
  font-size: 2.4rem;
  color: #2b2b2b;
  font-weight: 600;
}

.Informatie-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}

.Informatie-Box {
  width: 350px;
  background-color: #ffffff;
  margin: 20px;
}

.Informatie-Img {
  width: 100%;
  height: auto;
}

.Informatie-Img Img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.Informatie-Text {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.Informatie-Text span {
  color: #f33c3c;
  font-size: 0.9rem;
}

.Informatie-Text .Informatie-Title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #272727;
}

.Informatie-Text .Informatie-Title:hover {
  color: #f33c3c;
  transition: all ease 0.3s;
}

.Informatie-Text p {
  color: #9b9b9b;
  font-size: 0.9rem;
  display: -webkit-box;
  margin: 20px 0px;
}

.Informatie-Text a {
  color: #0f0f0f;
}

.Informatie-Text a:hover {
  color: #f33c3c;
  transition: all ease 0.3s;
}

/* == Einde Informatie == */


/* == Media Quarrys == */

@Media(max-width:1250px) {
  .Informatie-Box {
    width: 300px;
  }
}

@media(max-width:1100px) {
  .Informatie-Box {
    width: 70%;
  }
}

@media(max-width:550px) {
  .Informatie-Box {
    margin: 20px 10px;
    width: 100%;
  }

  #Informatie {
    padding: 20px;
  }
}

@media(max-width:322) {
  .Informatie-Title {
    font-size: 16px;
  }
}

/* == Einde Media Quarrys == */
