* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: white;
}

.NAV {
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 30px;
    position: sticky;
    top: 0;
}

nav a {
    color: black;
    padding-left: 20px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

#TTS {
    background-color: white;
    padding: 500px;
}

h2 {
    color: blue;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin-top: -400px;
}

.text {
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
}

#HWH {
    background-color: blue;
    padding: 500px;
}

#HWDA {
    background-color: violet;
    padding: 475px;
}

#OT {
    background-color: #fff;
    background-image: radial-gradient(circle, #e53935 20%, transparent 10%), radial-gradient(circle, #e53935 20%, transparent 10%);
    background-size: 200px 200px;
    background-position: 0 0, 100px 100px;
    padding: 475px;
}

#Footer {
    background-color: red;
    padding: 309px;
}

.FD {
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: darkgray;
}

